<hr>
<footer class="container">
  <div class="footer-menu">
    <h2 class="text-h3">Our plataform is trusted by millions & features best updated movies all aroud the world.</h2>
    <div class="footer-menu-links">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link link-default" routerLink="">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-default" href="#">Discover</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-default" href="#">Influence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-default" href="#">Release</a>
        </li>
      </ul>

      <div class="navbar-social">
        <a class="social-icons" href="#"><i class="fa-brands fa-instagram"></i></a>
        <a class="social-icons" href="#"><i class="fa-brands fa-facebook"></i></a>
        <a class="social-icons" href="#"><i class="fa-brands fa-twitter"></i></a>
        <a class="social-icons" href="#"><i class="fa-brands fa-google-plus"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-menu-terms">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link link-small" routerLink="">Privacy policy</a>
      </li>
      <li class="nav-item">
          <a class="nav-link link-small" href="#">Term of service</a>
      </li>
      <li class="nav-item">
          <a class="nav-link link-small" href="#">Language</a>
      </li>
      </ul>
      <p class="text-details">2024.</p>
  </div>

</footer>
