<hr>
<footer class="container">
  <div class="footer-menu">
    <h2 class="text-h3">Our plataform is trusted by millions & features best updated movies all aroud the world.</h2>
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link paragraph" routerLink="">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link paragraph" href="#">Discover</a>
        </li>
        <li class="nav-item">
            <a class="nav-link paragraph" href="#">Influence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link paragraph" href="#">elease</a>
        </li>
      </ul>

      <div class="navbar-social">

      </div>
    </div>

  </div>
  <div class="footer-menu-terms">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link text-details" routerLink="">Privacy policy</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-details" href="#">Term of service</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-details" href="#">Language</a>
      </li>
      </ul>
      <p class="text-details">2024.</p>
  </div>
</footer>
