<app-header [trending]="popularDay"></app-header>
<app-slider>
  <app-studio-carousel *ngFor="let company of companies" [company]="company"></app-studio-carousel>
</app-slider>

<h3 class="text-h3 container">Just Release</h3>
<app-slider>
  <app-vertical-card *ngFor="let movie of upcomingMovies" [movie]="movie"></app-vertical-card>
</app-slider>

<h3 class="text-h3 container">Popular of the Week</h3>
<app-slider>
  <app-mini-card *ngFor="let media of popularWeek; let i = index" [popular]="media" [index]="i+1"></app-mini-card>
</app-slider>

<h3 class="text-h3 container">Top Rated Movies</h3>
<app-slider>
  <app-horizontal-card *ngFor="let movie of topRatedMovies" [media]="movie"></app-horizontal-card>
</app-slider>

<h3 class="text-h3 container">Popular Series</h3>
<app-slider>
  <app-horizontal-card *ngFor="let serie of popularSeries" [media]="serie"></app-horizontal-card>
</app-slider>

<h3 class="text-h3 container">Top Rated Series</h3>
<app-slider>
  <app-horizontal-card *ngFor="let serie of topRatedSeries" [media]="serie"></app-horizontal-card>
</app-slider>
<app-footer></app-footer>


