<a href="" class="card-link">
  <div class="card">
    <div class="card-image">
      <img src="../../../assets/514020201013-uau-posters-filmes-joker-coringa-joaquin-phoenix-2.jpg" alt="Card Background">
    </div>
    <div class="card-text">
      <h4 class="paragraph">Card Title</h4>
      <div class="card-details">
        <i class="fa-solid fa-star"></i>
        <span class="paragraph">4.8</span>
        <span class="text-details">| Action • Movie</span>
      </div>
    </div>
  </div>

</a>


