<a href="" class="card-link">
  <div class="card">
    <div class="card-image">
      <img [src]="'https://image.tmdb.org/t/p/original/' + movie.poster_path" [alt]="'logo of ' + movie.title">
    </div>
    <div class="card-text">
      <h4 class="paragraph">{{movie.title}}</h4>
      <div class="card-details">
        <i class="fa-solid fa-star"></i>
        <span class="paragraph"> {{movie.vote_average | number:'1.1-1' }}</span>
        <span class="text-details">| {{movie.genres[0]}}</span>
      </div>
    </div>
  </div>
</a>


