<div class="carousel">
  <div class="overlay"></div>
  <div class="carousel-inner container" [ngStyle]="{'background-image': 'url(' + slides[currentIndex].image + ')'}">
    <app-navbar></app-navbar>
    <div class="carousel-caption">
      <span class="text-tags">{{slides[currentIndex].title}}</span>
      <h2 class="text-h2">{{slides[currentIndex].title}}</h2>
      <span class="text-details">{{slides[currentIndex].title}} • {{slides[currentIndex].title}} • {{slides[currentIndex].title}}</span>
      <p class="paragraph">{{slides[currentIndex].description}}</p>
      <div class="btns">
        <button class="btn-primary"><a href=""><i class="fa-solid fa-circle-play"></i> Watch Trailer</a></button>
        <button class="btn-secondary"><a href=""><i class="fa-regular fa-bookmark"></i> Add Watchlist</a></button>

      </div>
    </div>
  </div>
  <div class="carousel-indicators">
    <span *ngFor="let slide of slides; let i = index"
          (click)="goToSlide(i)"
          [ngClass]="{'active': i === currentIndex}"
          class="indicator"></span>
  </div>
</div>



