<!-- <div class="container">
  <div class="slider-wrapper">
    <button id="prev-slide" class="btn-tertiary slide-button" *ngIf="showPrevButton" (click)="scroll('prev')">
      <i class="fa-solid fa-angle-left"></i>
    </button>
    <ul class="image-list"  #imageList (scroll)="updateButtonsVisibility(); updateScrollThumbPosition()">
      <img *ngFor="let logo of logos" class="image-item" [src]="logo.image" alt="img-1" />
    </ul>
    <button id="next-slide" class="btn-tertiary slide-button" *ngIf="showNextButton" (click)="scroll('next')">
      <i class="fa-solid fa-angle-right"></i>
    </button>
  </div>
</div> -->


<div class="image-list"  #imageList>
  <img  class="image-item" [src]="'https://image.tmdb.org/t/p/w200' + logo.logo_path" [alt]="logo.name" />
</div>



