<a href="" class="card-link">
  <div class="card">
    <h4 class="text-h3">1</h4>
    <div class="card-image">
      <img src="../../../assets/514020201013-uau-posters-filmes-joker-coringa-joaquin-phoenix-2.jpg" alt="Card Background">
    </div>
    <div class="card-text">
      <span class="text-tags">Movie</span>
      <h4 class="paragraph">Card Title</h4>
      <span class="text-details"><i class="fa-solid fa-film"></i> Action • Movie</span>
      <span class="paragraph"><i class="fa-solid fa-star"></i> 4.8</span>
    </div>
  </div>
</a>

