<a href="" class="nav-link">
  <div class="card">
    <div class="card-image">
      <img [src]="'https://image.tmdb.org/t/p/original/' + media.backdrop_path" [alt]="'logo of ' + media.title">
    </div>
    <div class="card-text">
      <h4 *ngIf="media.title; else tvName" class="paragraph">{{media.title}}</h4>
      <ng-template #tvName>
        <h4 class="paragraph">{{media.name}}</h4>
      </ng-template>
      <div class="card-details">
        <i class="fa-solid fa-star"></i>
        <span class="paragraph"> {{media.vote_average | number:'1.1-1' }}</span>
        <span class="text-details">| {{media.genres[0]}}</span>
      </div>
    </div>
  </div>
</a>

