<div class="carousel">
  <div class="overlay"></div>

  <div class="carousel-inner" [ngStyle]="{'background-image': 'url(' + 'https://image.tmdb.org/t/p/w1280' + media[currentIndex].backdrop_path + ')'}">
    <h6 class="paragraph container">Explore by the genre</h6>
    <div class="carousel-content container">
      <div class="carousel-caption">
        <!-- <span class="text-tags">{{media[currentIndex].media_type || "movie"}}</span> -->
        <h2 *ngIf="media[currentIndex].title; else tvName" class="text-h2">{{media[currentIndex].title}}</h2>
        <ng-template #tvName>
          <h2 class="text-h2">{{media[currentIndex].name}}</h2>
        </ng-template>

        <span *ngIf="media[currentIndex].media_type === 'movie'; else tvDetails" class="text-details">{{media[currentIndex].release_date | date:'yyyy'}} • {{media[currentIndex].genres[0]}} • {{media[currentIndex].genres[1]}} </span>
        <ng-template #tvDetails>
          <span class="text-details">{{media[currentIndex].release_date | date:'yyyy'}} • {{media[currentIndex].genres[0]}} • {{media[currentIndex].genres[1]}} </span>
        </ng-template>

        <!-- <p class="paragraph">{{media[currentIndex].overview}}</p> -->
        <div class="btns">
          <button class="btn-primary"><a href=""><i class="fa-solid fa-circle-play"></i> Watch Trailer</a></button>
          <button class="btn-secondary"><a href=""><i class="fa-regular fa-bookmark"></i> Add Watchlist</a></button>
        </div>
      </div>
      <div class="carousel-indicators">
        <span *ngFor="let movie of media; let i = index"
              (click)="goToSlide(i)"
              [ngClass]="{'active': i === currentIndex}"
              class="indicator">
        </span>
      </div>
    </div>

    <app-slider>
      <div *ngFor="let genre of moviesGenres; let i = index"
      (click)="goToSlide(i)"
      [ngClass]="{'active': i === currentIndex}"
      class="indicator">
        <!-- <img [src]="'https://image.tmdb.org/t/p/w200' + media[i].backdrop_path" [alt]="'logo of '"> -->
      </div>
    </app-slider>
  </div>
</div>





