<app-header></app-header>

<app-studio-carousel></app-studio-carousel>

<h3 class="text-h3 container">Just Release</h3>
<app-slider>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
  <app-vertical-card></app-vertical-card>
</app-slider>

<h3 class="text-h3 container">Popular of the Week</h3>
<app-slider>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
  <app-mini-card></app-mini-card>
</app-slider>

<app-header></app-header>

<h3 class="text-h3 container">Movies</h3>
<app-slider>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
  <app-horizontal-card></app-horizontal-card>
</app-slider>
<router-outlet></router-outlet>
<app-footer></app-footer>
