@import '../../../styles.scss';

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: $color-white;
  h6{
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: 2;

  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background: radial-gradient(circle, rgba(13, 12, 15, .3) 0%, rgba(13, 12, 15, .5) 50%, rgba(13, 12, 15, 1) 100%),
  linear-gradient(to top, rgba(13, 12, 15, 1), transparent 30%);
  z-index: 1;
}

.carousel-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 12px;
  // padding: 10px;
  border-radius: 5px;
  z-index: 2;
  margin-bottom: 30px;
  width: 100%;
  .text-details, .paragraph{
    width: 40%;
  }
  .paragraph{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* Número de linhas a serem exibidas */
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
  }
  .text-h2{
    width: 60%;
  }
  .btns{
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    width: 100%;
    button{
      a{
        .fa-circle-play,
        .fa-bookmark{
          margin-right: 7px;
        }
      }
    }
  }
}

.indicator {
  display: flex;
  height: 100px;
  width: 200px !important;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  object-fit: cover;
  background: linear-gradient(to top, rgba(13, 12, 15, 1), transparent 30%);
}
.indicator.active {
  border: 2px solid $color-green;
}

@media (max-width: $breakpoint-md) {

  .carousel-caption{
    .text-h2, .text-details, .paragraph{
      width: 60%;
    }
  }
}

@media (max-width: $breakpoint-sm) {

  .carousel-content{
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  .carousel-caption{
    .text-h2, .text-details, .paragraph{
      width: 100%;
    }
    .btns{
      button{
        width: 100%;
      }
    }
  }
}




